:root {
    --pink-c: #ff96fc;
    --bg-dark-c: #100d11;
    --bg-light-c: #302733;
    --fg-dark-c: #593558;
}

body {
    height: 100%;
    margin: 0;
    background: var(--bg-dark-c);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.root_container {
    position: relative;

    height: 100%;

    display: flex;
}

.vertical_container {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.flex_container {
    position: relative;

    display: flex;
}

.titlebar {
    width: 100%;
    height: fit-content;

    background-color: var(--bg-light-c);

    border-radius: 0%;
    border-width: 0px;
    border-bottom-width: 5px;
    border-bottom-color: var(--pink-c);
    border-style: solid;

    box-shadow: 0px 0px 40px var(--fg-dark-c);
}
.title {
    font-family: Calibri, sans-serif;
    font-size: 250%;

    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.bio {
    position: relative;
    width:auto;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    font-size: 100%;

    flex: 1;

    border-width: 5px;
    border-style: solid;
    border-color: var(--pink-c);
    border-radius: 10px;
    border-style: solid;

    background-color: var(--bg-light-c);

    box-shadow: 0px 0px 40px var(--fg-dark-c);
}

.dark_box {
    height: fit-content;
    width: inherit;

    border-width: 5px;
    border-style: solid;
    border-color: var(--bg-dark-c);
    border-radius: 10px;
    border-style: solid;
    background-color: var(--bg-dark-c);

    padding-top: 10px;

    .label {
        text-align: center;
        font-size: 120%;
        font-weight: 600;

        border-width: 5px;
        border-style: solid;
        border-color: var(--pink-c);
        border-radius: 10px;
        background-color: var(--pink-c);

        box-shadow: 0px 0px 40px var(--fg-dark-c);
    }
}

/* -- UI elements -- */
.side_button_container {
    width: 50%;
    padding: 10px;
}

.wide_button {
    margin-bottom: 10px;
    height: inherit;
    width: 100%;

    color: white;
    font-size: 120%;
    font-weight: 600;
    border-width: 5px;
    border-style: solid;
    border-color: var(--pink-c);
    border-radius: 20px;
    background-color: var(--pink-c);

    box-shadow: 0px 0px 40px var(--fg-dark-c);
}

.wide_button:hover{
    filter: saturate(80%);
    scale: 101%;
}

/* Sections */

.section {
    margin: 8px;
    margin-top: 0;

    border-width: 5px;
    border-radius: 10px;
    border-color: var(--bg-light-c);
    padding: 10px;
    background-color: var(--bg-light-c);

    display: flex;
    flex-direction: column;
}

.section:hover {
    filter: saturate(150%);
}

.section_title {
    color: white;

    text-align: center;

    font-family: Calibri, sans-serif;
    font-weight: bold;

    border-width: 5px;
    border-radius: 10px;
    border-color: var(--pink-c);
    padding: 10px;
    background-color: var(--pink-c);

    box-shadow: 0px 0px 40px var(--fg-dark-c);
}


.section_main_list {
    font-weight: bold;
}

.section_secondary_list {
    font-family: monospace;
    font-size: larger;
    font-weight: 100;

    margin: 8px;

    background-color: var(--bg-dark-c);

    border-width: 2px;
    border-radius: 10px;
    border-color: var(--bg-dark-c);

    li {
        padding: 2px;
    }
}

.section_box {
    font-family: monospace;
    font-size: larger;

    margin: 8px;
    padding: 4px;

    background-color: var(--bg-dark-c);

    border-width: 2px;
    border-radius: 10px;
    border-color: var(--bg-dark-c);
}